@use "colors" as colors;
@use "null";

body {
  background: colors.$white;
  color: colors.$dark;
  font-family: 'TTCommons', sans-serif;
  line-height: normal;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.container-large {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}